<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>Nome: </label>
        <input type="text" id="nome">
        <label>Cognome: </label>
        <input type="text" id="cognome">
        <input type="submit" value="Submit!">
    </form>
    <button type="button" onclick="prendiTutti()">
        Recupera tutti gli utenti
    </button>
    <div id="tabella">
        <table id="tabellaTuttiUtenti">
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
        </table>
    </div>
</body>
    <script>
        const formField = document.querySelector('form')
        const nomeField = document.getElementById('nome')
        const cognomeField = document.getElementById('cognome')
        var tuttiUtenti=[]

        formField.addEventListener('submit', register)

        async function register (e) {
            e.preventDefault()

            var nome = nomeField.value
            var cognome = cognomeField.value

            if (nome != '' && cognome != '') {

                let data = { nome: nome, cognome: cognome }

                const result = await fetch('/registernewuser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'Application/JSON'
                    },
                    body: JSON.stringify(data),
                    
                }).then(res => res.json())
                .catch(err=>console.log(err))
            }
        }

        const prendiTutti=()=>{
            console.log("pronto a recuperare tutti gli utenti")
            fetch("/getallusers",{
                method: "GET",
            })
            .then(result=>result.json())
            .then(result=>{
                console.log(result)
                tuttiUtenti=result
                riempiTabella()
            })
            .catch(err=>console.log(err))
        }

        const prendiUnUtente=()=>{
            fetch("/getoneuser",{
                method: "GET",
            })
            .then(result=>{
                console.log(result)
            })
            .catch(err=>console.log(err))
        }

        const riempiTabella=()=>{
            let tabella=document.getElementById("tabellaTuttiUtenti")
            let dimensione=tabella.rows.length

            for (let i=0;i<dimensione;i++){
                tabella.deleteRow(-1)
            }

            for (let i=0;i<tuttiUtenti.length;i++){
                let riga=tabella.insertRow(-1)
                let nome=riga.insertCell(0)
                let cognome=riga.insertCell(1)

                nome.innerText=tuttiUtenti[i].nome
                cognome.innerText=tuttiUtenti[i].cognome
            }
        }
    </script>
</html>