<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    .oggettoUtente{
        background-color: burlywood;
    }

    .centrato{
        text-align: center;
    }
</style>
<body>
    <h1 class="centrato">DATABASE NOSQL - MONGODB</h1>
    <hr>
    <h3>Creazione utente</h3>
    <form>
        <label>Nome: </label>
        <input type="text" id="nome">
        <label>Cognome: </label>
        <input type="text" id="cognome">
        <input type="submit" value="Submit!">
    </form>
    <hr>
    <h3>Visualizza tutti gli utenti in tabella</h3>
    <button type="button" onclick="prendiTutti()">
        Recupera tutti gli utenti
    </button>
    <div id="tabella">
        <table id="tabellaTuttiUtenti">
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <h3>Trova un utente inserendo nome e cognome</h3>
        <input type="text" name="" id="nomeCerca">
        <input type="text" name="" id="cognomeCerca">
        <button onclick="prendiUnUtente()">Cerca</button>
        <div class="oggettoUtente">
            <p><span id="nomeTrovato"></span></p>
            <p><span id="cognomeTrovato"></span></p>
            <p><span id="creazioneTrovato"></span></p>
            <p><span id="modificaTrovato"></span></p>
        </div>
    </div>
    <hr>
    <div>
        <h3>Cancella un utente inserendo nome e cognome</h3>
        <input type="text" name="" id="nomeCancella">
        <input type="text" name="" id="cognomeCancella">
        <button onclick="cancellaUtente()">Cancella</button>
        <p><span id="risultatoCancella"></span></p>
    </div>
</body>
    <script>
        const formField = document.querySelector('form')
        const nomeField = document.getElementById('nome')
        const cognomeField = document.getElementById('cognome')
        var tuttiUtenti=[]

        formField.addEventListener('submit', register)

        async function register (e) {
            e.preventDefault()

            var nome = nomeField.value
            var cognome = cognomeField.value

            if (nome != '' && cognome != '') {

                let data = { nome: nome, cognome: cognome }

                const result = await fetch('/registernewuser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'Application/JSON'
                    },
                    body: JSON.stringify(data),
                    
                }).then(res => res.json())
                .catch(err=>console.log(err))
            }
        }

        const prendiTutti=()=>{
            fetch("/getallusers",{
                method: "GET",
            })
            .then(result=>result.json())
            .then(result=>{
                tuttiUtenti=result
                riempiTabella()
            })
            .catch(err=>console.log(err))
        }

        const prendiUnUtente=()=>{
            document.getElementById("nomeTrovato").innerText=""
            document.getElementById("cognomeTrovato").innerText=""
            document.getElementById("creazioneTrovato").innerText=""
            document.getElementById("modificaTrovato").innerText=""   
            fetch("/getoneuser",{
                method: "POST",
                headers:{
                    "Content-Type": "Application/JSON"
                },
                body: JSON.stringify({
                    nome: document.getElementById("nomeCerca").value,
                    cognome: document.getElementById("cognomeCerca").value
                })
            })
            .then(result=>result.json())
            .then(result=>{
                if (result.stato=="non trovato"){
                    document.getElementById("nomeTrovato").innerText="Impossibile trovare questo utente"
                }
                else {
                    document.getElementById("nomeTrovato").innerText=result.nome
                    document.getElementById("cognomeTrovato").innerText=result.cognome
                    document.getElementById("creazioneTrovato").innerText=result.createdAt
                    document.getElementById("modificaTrovato").innerText=result.updatedAt                    
                }

            })
            .catch(err=>console.log(err))
        }

        const cancellaUtente=()=>{
            fetch("/removeoneuser",{
                method: "POST",
                headers:{
                    "Content-Type": "Application/JSON"
                },
                body: JSON.stringify({
                    nome: document.getElementById("nomeCancella").value,
                    cognome: document.getElementById("cognomeCancella").value
                })
            })
            .then(result=>result.json())
            .then(result=>{
                if (result.stato=="non trovato"){
                    alert("Impossibile trovare questo utente")
                }
                else {
                    alert("Utente eliminato")               
                }

            })
            .catch(err=>console.log(err))
        }

        const riempiTabella=()=>{
            let tabella=document.getElementById("tabellaTuttiUtenti")
            let dimensione=tabella.rows.length

            for (let i=0;i<dimensione;i++){
                tabella.deleteRow(-1)
            }

            let riga=tabella.insertRow(-1)
            let nome=riga.insertCell(0)
            let cognome=riga.insertCell(1)

            nome.innerHTML="<b>Nome</b>"
            cognome.innerHTML="<b>Cognome</b>"
            for (let i=0;i<tuttiUtenti.length;i++){
                let riga=tabella.insertRow(-1)
                let nome=riga.insertCell(0)
                let cognome=riga.insertCell(1)

                nome.innerText=tuttiUtenti[i].nome
                cognome.innerText=tuttiUtenti[i].cognome
            }
        }
    </script>
</html>