<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>Nome: </label>
        <input type="text" id="nome">
        <label>Cognome: </label>
        <input type="text" id="cognome">
        <input type="submit" value="Submit!">
    </form>
</body>
    <script>
        const formField = document.querySelector('form')
        const nomeField = document.getElementById('nome')
        const cognomeField = document.getElementById('cognome')

        formField.addEventListener('submit', register)

        async function register (e) {
            e.preventDefault()

            var nome = nomeField.value
            var cognome = cognomeField.value

            if (nome != '' && cognome != '') {

                let data = { nome: nome, cognome: cognome }

                const result = await fetch('/registernewuser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'Application/JSON'
                    },
                    body: JSON.stringify(data),
                    
                }).then(res => res.json())
            }
        }
    </script>
</html>